<% user ||= current_user %>
<div class="stats">
  <%= link_to "#{user.following.count} following",
    user_following_path(user) %>
  <%= link_to "#{user.followers.count} followers",
    user_followers_path(user) %>
</div>
